<div class="flex flex-wrap md:flex-no-wrap lg:-mx-32">
    <div class="bg-gray-light w-full md:w-1/2 p-4 flex flex-col mx-4">
        <div class="leading-none text-blue-darkest text-3xl text-center font-bold flex-1 flex-shrink-1 flex-auto w-full">{{ cta1_text }}</div>
        <div class="text-center mt-8">
            {% if preview %}
                <span class="button button-inverted">{{ cta1_button.title }}</span>
            {% else %}
                <a href="{{ cta1_button.url }}" class="button button-inverted">{{ cta1_button.title }}</a>
            {% endif %}
        </div>
    </div>
    <div class="bg-gray-light w-full md:w-1/2 p-4 flex flex-col mx-4 mt-8 md:mt-0">
        <div class="leading-none text-blue-darkest text-3xl text-center font-bold flex-1 flex-shrink-1 flex-auto w-full">{{ cta2_text }}</div>
        <div class="text-center mt-8">
            {% if preview %}
                <span class="button button-inverted">{{ cta2_button.title }}</span>
            {% else %}
                <a href="{{ cta2_button.url }}" class="button button-inverted">{{ cta2_button.title }}</a>
            {% endif %}
        </div>
    </div>
</div>