<div>
    <div class="md:flex flex-wrap md:-mx-6">
        {% for benefit in benefits %}
            <div class="flex md:px-6 w-full md:w-1/4 min-w-64">
                <div class="bg-blue-darkest text-white flex flex-col px-6 py-8 mt-4 font-mont w-full">
                    <div class="text-lg leading-tight">{{ benefit.name }}</div>
                    <div class="flex-1 flex-shrink-1 flex-auto mt-4 text-sm">{{ benefit.description }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="mt-8">
        <a href="{{ more_benefits.url }}" class="button button-inverted" target="_blank" rel="noopener noreferrer">See More Benefits</a>
    </div>
</div>