.home {

}

.home-hero-callout {
    background: rgba($blue, .8);
    color: $white;
    padding: 2rem;
    max-width: 37.5rem;

    h1 {
        color: $white;
    }
}

.home-quicklinks {
    background: $white;
    transform: translateY(50%);
    padding: .5rem 2rem;
    margin-bottom: 12rem;
    
    @include mq($small-tablet){
        margin-bottom: 8rem;
    }

    ul {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
        text-align: center;
        color: $black;
        text-decoration: none;
    }

    li {
        padding: .5rem;
        width: 50%;
        margin-bottom: 1rem;

        @include mq($small-tablet){
            width: auto;
            margin-bottom: 0;
        }
    }

    &__icon {
        svg {
            display: inline-block;
            width: 4rem;
            height: 4rem;
        }
    }
}

.home-user-cta {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    justify-content: center;
    flex-wrap: wrap;

    img {
        width: 100%;
        max-width: 35.5rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }

    &__content {
        max-width: 35.5rem;
    }

    &__title {
        color: $dark-blue;
        text-transform: uppercase;
        max-width: 19rem;
    }
}

.home-user-hero {
    color: $white;
    text-align: center;
    padding: 6rem 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &__title {
        letter-spacing: .25rem;
        color: $white;
    }

    &__subtitle {
        font-family: $font-heading;
        letter-spacing: .125em;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .5rem;
        margin-bottom: 1rem;
    }

    &__description {
        max-width: 37.5rem;
        margin: 2rem auto;
        font-weight: 700;
    }

}

.home-story-highlight {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    margin: 0 auto;

    @include mq($small-tablet){
        display: grid;
        flex-direction: row;
    }

    grid-template-columns: 200px 200px 1fr;
    grid-template-rows: 1fr auto 1fr;

    &__image {
        grid-column: 2 / -1;
        grid-row: 1 / -1;
        z-index: 1;
        width: 100%;

        img {
            display: block;
        }
    }

    &__details {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        background: rgba($blue, .9);
        z-index: 2;
        color: $white;
        padding: 6rem 1rem;

        a {
            color: $white;
        }
    }

    h3 {
        letter-spacing: 2px;
        color: $white;
    }
}