// Debit Card Intro Header - default template
.debit-card-header {
	max-width: 100%;
	margin: 0 auto 5rem;

	.header-modifier {
		text-transform: uppercase;
		letter-spacing: .125em;
		color: $dark-blue;
	}

	.debit-header {
		display: flex;
		margin: 4rem auto;
		width: 100%;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;

		&:last-child { flex-wrap: wrap-reverse; }

		// 680px is where the double cards break to a newline, so we make both of them break to a newline here instead
		&--text {
			max-width: 100%;
			@include mq(680px) { max-width: 24.125rem; }
		}

		img {
			max-width: 22rem;
			@include mq(680px) { max-width: 100%; }
		}

		// this image is larger and looks disproportionate 
		.single-card {
			max-width: 20rem;
			@include mq(680px) { max-width: 100%; }
		}
	}
}